<!DOCTYPE html>
<html>
  <head>
    <title>DPbook ログイン/登録</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <%= stylesheet_link_tag 'normalize', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="login-wrapper">
      <div class="d-none d-md-block col-12 hidden-box"></div>
      <div class="login-content">
        <div class="row">
          <%# ロゴ %>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="login-title text-center text-md-start">
              <div class="login-title-logo">
                <%= image_tag '/assets/dp_logo.png', class:"img-fluid" %>
              </div>
              <h5>写真の投稿ができるwebサイト</h5>
            </div>
          </div>

          <%# フォーム %>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="login-form">
              <%# メッセージ %>

              <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
                <div class="form-container">
                  <div class="input-group  input-group-lg input-container">
                    <%= f.email_field :email, placeholder:"メールアドレス", class:"form-control form-control-lg" %>
                  </div>
                  <div class="input-container">
                    <%= f.password_field :password, placeholder:"パスワード", class:"form-control form-control-lg" %>
                  </div>
                </div>
                <div class="button-container">
                  <%= f.submit "ログイン", class:"btn btn-primary btn-lg w-100" %>
                </div>

              <% end %>
              
              <div class="form-border"></div>
              <div class="button-container">
                <%= button_to "アカウントを作成", new_user_path, class:"btn btn-success btn-lg w-75" %>
              </div>
            </div>
          </div>
        </div>
      </div>
            <%# フッター %>
      <footer class="footer">
        <div class="copyright">Divic © 2023 </div>
      </footer>
          </div>

  </body>
</html>
