<h1>サインアップ</h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @user, local: true) do |f| %> 
  <table>
    <tr>
      <th>名前</th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= f.email_field :email %></td>
    </tr>
    <tr>
      <th>パスワード</th>
      <td><%= f.password_field :password %></td>
    </tr>
    <tr>
      <th>パスワード(再確認)</th>
      <td><%= f.password_field :password_confirmation %></td>
    </tr>
  </table>
  <%= f.submit "登録" %>
<% end %>