<div class="post-wrapper">
  <%= form_with(model: @picture, local: true ,url: choose_new_or_edit ) do |form| %>
    <div class="d-flex justify-content-center flex-wrap" style="gap: 20px;">
        <div>
          <div class="img-preview" id="prv">
            <% if @picture.image && @picture.image.url %>
              <%= puts "a" %>
              <%= form.file_field :image %>
              <%= form.hidden_field :image_cache %>
            <% else %>
              <%= puts "b" %>
              <h5>ここに選択した画像が表示されます</h5>
            <% end %>
          </div>
        </div>
        <div>
          <div class="post-form">
            <div class="input-container post-title">
              <h4>投稿画面</h4>
            </div>
            <div class="form-container">
              
                <div class="input-container">
                  <%= form.file_field :image %>
                  
                </div>
                <div class="input-container">
                  <%= form.text_area :content, placeholder:"コメントを入力（最大100文字）", class:"form-control form-control-lg" %>
                </div>
                <div class="button-container">
                    <%= form.submit "投稿する", class:"btn btn-primary btn-lg w-100" %>
                </div>
              
            </div>
          </div>
        </div>  
    </div>
  <% end %>
</div>