<div class="confirm-area">
  <div>
    <%= form_with(model: @picture, url: pictures_path, local: true) do |form| %>
      <%= form.hidden_field :image_cache %>
      <%= form.hidden_field :content %>

      <%= image_tag @picture.image.url %>
      <%= @picture.content %></h4>
      <%= @picture.user.name %>

      <%# <span class="bi bi-info-square" title="詳細"></span>
      <span class="bi bi-pencil-square" title="編集不可"></span>
      <span class="bi bi-trash" title="削除不可"></span> %>

      <%= form.submit  "投稿する", class:"btn btn-primary btn-lg w-100" %>

    <% end %>

    <%= form_with(model: @picture, url:new_picture_path, local:true, method:"get") do |form| %>
      <%= form.hidden_field :image_cache %>
      <%= form.hidden_field :content %>
      <%= form.submit "編集に戻る", name: 'back', class:"btn btn-secondary btn-lg w-75" %>
    <% end %>

  </div>
</div>