<!DOCTYPE html>
<html>
  <head>
    <title>DPbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'normalize', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header clearfix">
      <img src="/assets/logo.jpg" class="logo_image">
      <div class="top_menu clearfix">
        <ul>
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: "#{key}") %>
          <% end %>

          <% if logged_in? %>
            <li><%= link_to "Profile", user_path(current_user.id) %></li>
            <li><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_path %></li>
            <li><%= link_to "Login", new_session_path %></li>
          <% end %>
        </div>

        <%
=begin%>
 <li><a href="index.html">ホーム</a></li>
        <li><a href="#">事業内容</a></li>
        <li><a href="#">会社概要</a></li>
        <li><a href="#">お問い合わせ</a></li> 
<%
=end%>
      </ul>
    </header>



    <%= yield %>
  </body>
</html>
